*{
    box-sizing: border-box;
    padding:0;
    margin:0; 
}
.container{
    position:relative;
    width:40%;
    height:90vh;
}
.rack4{
    position: absolute;
    z-index: 1;
}
.rack5{
    position: relative;
    margin: 29px;
}
.rack5transform{
    transform: translate(148px, 92px);
}
.rack4transform{
    transform: translate(136px, 92px);
}
.rack3transform{
    transform: translate(92px, 67px);
}
.rack2transform{
    transform: translate(50px, 40px);
}
.rack1transform{
    transform: translate(10px, 10px);
}
.border{
    border: 2px solid black;
}
.txtalign{
    text-align:right;
}
.width{
    height: 75vh;
    width: 40vw;
}
.backcol{
    background: lightgray;
}
.rack3{
    position: absolute;
    z-index: 2;
}
.rack2{
   position: absolute;
  
   z-index: 3;
}
.rack1{
    position: absolute;
    z-index: 4;
}
.grid-container {
    display: grid;
    /* align-content: space-around; */
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(219, 205, 205);
    height:94%;
    gap: 10px;
   
    padding: 8px 8px;
}
.gap{
    gap:10px;
}
.gridcon{
    display:grid;
    grid-template-columns:3fr 2fr;
}
.dispgrid{
    display:grid;
}
.self1{
    grid-template-columns:repeat(3,1fr) ;
}
.self2{
    grid-template-columns:repeat(3,1fr) ;
}
.self3{
    grid-template-columns:repeat(3,1fr) ;
}
.color{
    background-color:white;
    text-align: center;
    padding: 67px;
}
/* .container > :not(#rack1) {
    opacity:0.05;
} */

.widhheight{
    width:611px;
    height:138px;
    border:1px solid black;
}
