.text-style{
    white-space: pre-line;
    width: 650px;
    padding:10px;
   
}
.text-style:focus{
    outline:none;
}
.notes-creater-align{
    height:auto;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
    border-radius: 10px 10px 10px 10px;
    padding: 8px;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
}
.input-align{
    white-space: pre-line;
    width: 572px;
    border: none;
    padding: 10px;

}  
.input-align:focus{
    outline:none;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
}
.container1{
    height:100%;
}
.close-button-align{
    text-align:end;
}
.list-align{
    display:flex;
    align-items: center;
}